#about {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.services {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
}

.titleMain {
  font-size: 300%;
}

.aboutTitle {
  font-size: 200%;
  text-align: center;
  justify-content: center;
}

.aboutDescript {
    /* color: rgba(255, 255, 255, 0.8); */
    font-size: 70%;
    text-align: center;
    padding: 0;
    width: 70%;
    margin: 1rem auto; 
    margin-bottom: 3rem;
    line-height: 1.75;
}


.descriptMain {
  font-size: 70%;
  line-height: 1.75;
  padding-top: 1%;

}

.skillBars {
  /* margin: 1.5rem;
    width: 100vw; */
  /* max-width: 50%; */
  text-align: left;
}

.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.skillBarImg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.skillBarText {
  font-size: 70%;
}

p {
  color: rgba(255, 255, 255, 0.5);
}

.leftside {
  width: 40%;
}

.rightside {
  width: 60%;
}
