.language-skills{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size:3rem;
    margin-bottom:1rem;
}


.lanImages{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}



@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
  }
  .container {
    width: 100%;
    overflow-x: hidden;
  }
  .horizontal-scrolling-items {
    display: flex;
    /* font-size: 40px; */
    width: 220%;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .horizontal-scrolling-items__item {
    white-space: nowrap;
  }