.language-skills {
  /* min-height: calc(100vh - 4rem); */
  width: 100vw;
  max-width: 100%;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.lanImages {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.container {
  width: 100%;
  overflow-x: hidden;
}
.horizontal-scrolling-items {
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  border:1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  width: 240%;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horizontal-scrolling-items__item {
  white-space: nowrap;
}